@charset "UTF-8";
.GameResultView{
    .section-area{
        .section-header{
            h4{
                margin-top:20px;
            }
            .title-big{
                text-align: center;
            }
            p{
                text-align: center;
            }
        }
    }
}