@charset "UTF-8";
.HomeView{
    margin-top:5rem;
    .section-area{
        .section-header{
            .title-big{
                text-align: center;
            }
            p{
                text-align: center;
            }
        }
    }
}